<h3>"Patience is a key element of success" - Білл Гейтс</h3>

<img
  src="https://i.work.ua/img/00002984_s.png"
  alt="Портрет Білла Гейтса"
  width="400"
  height="400">

  <p>
    William Henry 'Bill' Gates III; нар. 28 жовтня 1955, Сіетл, США) — американський бізнесмен, інвестор, письменник, філантроп, засновник корпорації Майкрософт, співголова Фонду Білла і Мелінди Гейтсів. [ 9][ 10] Протягом кар'єри в Microsoft, Гейтс займав позиції голови ради директорів, CEO та головного архітектора [en], одночасно до травня 2014 також будучи найбільшим акціонером. 
  </p>

<ul>
  <li>If you think your teacher is tough, wait till you get a boss</li>
  <li>Life is not fair — get used to it!</li>
  <li>Success is a lousy teacher. It seduces smart people into thinking they can’t lose</li>
  <li>Be nice to nerds. Chances are you’ll end up working for one</li>
</ul>

<h4>Дізнайтеся більше про Білла Гейтса:</h4>
<ul>
  <li><a href="https://uk.wikipedia.org/wiki/Білл_Гейтс" target="_blank">Вікіпедія: Білл Гейтс</a></li>
  <li><a href="https://www.gatesfoundation.org/" target="_blank">Фонд Білла та Мелінди Гейтс</a></li>
  <li><a href="https://www.gatesnotes.com/" target="_blank">Блог Гейтса: Gates Notes</a></li>
  <li><a href="https://twitter.com/billgates" target="_blank">Твіттер Білла Гейтса</a></li>
</ul>



<!-- <h1>{{message}}</h1>
<p>{{2*2}}</p>
<p>{{title}}</p>
<a href="https://en.wikipedia.org/wiki/Cat">Cat</a>
<img
  src="https://s.yimg.com/fz/api/res/1.2/SHa9TSoTaEqKTtKW_lNE2g--~C/YXBwaWQ9c3JjaGRkO2ZpPWZpdDtoPTI0MDtxPTgwO3c9MjYy/https://s.yimg.com/zb/imgv1/a7926462-eb71-338c-b342-f9b2cc8c50df/t_500x300"> -->
